body{
    background-color: beige;
}
*{
    margin: 0;
    padding: 0;
}
h1,h2{
    display: flex;
    justify-content: center;
}
.container-1{
    height: auto;
    width: 100vw;
    background-color: blueviolet;
   text-align: center;
}
a{
    color: black;
    
}
.container-2{
   background-color: beige;
    padding: 10px;
}
#btn{
    
    height: auto;
    width: auto;
    font-size: xx-large;
    margin-left: 40%;
    
}
.container-3{
    background-color: blueviolet;
    padding: 10px;
}
